/* stylelint-disable */
@import './animation';

html {
  .el-message {
    top: 70px !important;
  }
  &.mobile {
    &.playground {
      height: 100%;
      body {
        width: 1440px;
        &.horizontal {
          position: relative;
          height: 100%;
          transform: rotate(90deg);
          overflow-y: hidden;
        }
      }
    }
    .el-message {
      min-width: 95%;
    }
    .el-menu {
      &.el-menu--horizontal {
        align-items: center;
      }
      .i-image__container {
        width: 20px;
      }
      .i-html__container {
        font-size: 12px;
      }
      .el-menu-item {
        padding-right: 0;
        padding-left: 10px;
      }
      .el-menu-item__title {
        display: none;
      }
    }
    .i-main__container {
      .i-main__container {
        overflow: hidden;
      }
    }
    .i-home__page {
      .i-home__banner__container {
        .i-home__banner__wrapper {
          padding: 0;
          .el-button {
            padding: 8px 15px
          }
        }
      }
      .i-header__container {
        .i-avatar__logo {
          display: none;
        }
      }
    }
    .i-home__thanks__images {
      padding: 30px 30px 40px 30px;
      .el-image {
        width: 100%;
        height: 100%;
        padding: 10px 40%;
        margin: auto;
        .el-image__inner {
          width: 100%;
        }
      }
    }
    .i-home__me {
      width: 200px;
      flex-direction: column;
      border: 0;
    }
    .i-home__me__logo {
      width: 200px;
      height: 200px;
    }
    .i-home__me__aside {
      width: 100%;
      border: 0;
    }
    .i-home__me__main {
      border: 0;
    }
    .i-home__footer {
      padding: 30px 0;
      text-align: center;
    }
    .el-carousel__container .i-wrapper__container__body {
      padding: 0;
    }
    .el-carousel__container .i-wrapper__container__body .i-html__container {
      right: unset;
    }
    .el-carousel__container .i-wrapper__container__body .i-component__fragment {
      bottom: 65px;
      right: unset;
    }
    .i-home__ball:nth-of-type(4n + 1) {
      min-width: 80px;
      min-height: 80px;
    }
    .i-home__ball:nth-of-type(4n + 3) {
      top: 286px;
      right: 100px;
    }
  }
  &.playground {
    .i-editor__container__tools + .i-toolmaker-wrapper {
      padding-top: 0;
    }
    .i-website-app__container {
      width: 100%;
      overflow-x: hidden;
    }
    .el-footer {
      display: none !important;
    }
    .i-layout__container {
      border-bottom: unset;
    }
  }
  &.dark {
    .i-header__container {
      border-bottom: unset;
      background-image: linear-gradient(to bottom, transparent, rgb(252, 252, 252)) !important;
      background-size: unset;
      box-shadow: unset;
    }
    .i-avatar__title {
      color: var(--el-color-white);
    }
    .el-menu {
      backdrop-filter: unset;
      .el-menu-item {
        color: var(--el-color-white);
      }
    }
    .i-home__footer,
    .i-home__copyright {
      animation: unset;
    }
    .i-html__container.i-home__banner__title {
      color: var(--el-color-danger);
      background: linear-gradient(120deg, var(--el-color-danger) 50%, var(--el-color-primary));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, var(--el-color-danger));
    }
    .i-home__banner__container .i-home__banner__desc {
      color: var(--el-color-white);
    }
  }
}
.i-home__page {
  position: relative;
  height: 100%;
  .el-menu {
    backdrop-filter: saturate(50%) blur(4px);
    background: transparent;
    border: 0;
    .i-wrapper__container {
      flex: 1;
    }
    .i-wrapper__container__body {
      display: flex;
      align-items: center;
    }
    .i-image__container {
      width: 40px;
      margin-right: 10px;
    }
    .i-html__container {
      line-height: 55px;
      font-weight: bold;
      z-index: 10;
    }
    .el-menu-item {
      color: #777;
      z-index: 10;
      background: transparent;
    }
  }
  .i-component-loading {
    position: absolute;
    top: 0;
  }
  .i-grid__container {
    margin: 0 !important;
    padding: 50px 50px;
  }
  .i-main__container {
    padding: 0;
  }
  .i-header__container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: saturate(50%) blur(4px);
    background-image: radial-gradient(transparent 1px,#fff 1px) !important;
    background-size: 4px 4px;
    border-bottom: 1px solid var(--el-bg-color-page);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    .i-avatar__logo {
      .el-avatar {
        background: transparent;
        img {
          height: 75%;
        }
      }
    }
  }
  .i-home__main {
    &.i-main__container {
      margin-top: 60px;
      padding: 0;
      overflow: unset;
    }

    padding: 0;
  }
  .el-card__header {
    .i-image__container {
      width: 90px;
      height: 90px;
      margin: auto;
      border-radius: 100%;
    }
  }
  .i-card__footer {
    position: relative;
    padding: 8px 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background-color: var(--el-color-primary);
      transition: all 0.3s ease-in-out;
      content: '';
      z-index: -1;
    }
    &:hover {
      &:after {
        left: 0;
        width: 100%;
      }
      .el-button {
        color: var(--el-color-white);
      }
    }
    .el-button {
      color: var(--el-color-primary);
    }
  }
  .i-home__banner__container {
    &.i-grid__container {
      padding: 0;
      background: transparent;
    }
    .i-home__banner__wrapper {
      padding: 0 100px;
      text-align: center;
      .el-button {
        padding: 20px 30px;
      }
    }
    .i-home__banner__title {
      margin-top: 50px;
      text-align: center;
      font-size: 60px;
      color: var(--el-color-primary);
      line-height: 60px;
      font-weight: 900;
      background: linear-gradient(120deg, var(--el-color-danger) 30%, var(--el-color-primary));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 0.3));
    }
    .i-home__banner__desc {
      margin-top: 40px;
      margin-bottom: 60px;
      color: #606266;
      font-size: 20px;
      line-height: 35px;
      text-align: left;
    }
    .i-home__banner__git {
      &.el-button {
        padding: 10px 15px;
        font-size: 16px;
        font-weight: bolder;
        color: #333;
      }
    }
    .i-home__banner__visitor {
      position: relative;
      display: inline-block;
      padding: 3px 10px 3px 8px;
      margin-left: 5px;
      font-size: 16px;
      line-height: 22px;
      border-radius: 4px;
      background-color: #fafafa;
      border: 1px solid #d4d4d4;
      color: #333;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
      font-weight: 700;
      &::before {
        position: absolute;
        top: 10px;
        left: -5px;
        display: inline-block;
        width: 0;
        height: 0;
        margin-top: -6px;
        border-width: 6px 6px 6px 0;
        content: '';
        border-color: transparent;
        border-style: solid;
        border-right-color: #fafafa;
      }
    }
  }
  .i-layout__container,
  .i-page__container {
    height: 100%;
  }
  .el-skeleton {
    padding: 20px;
  }
}
.i-home__carousel__item {
  width: 686px;
  height: 100%;
}
.i-carousel__container {
  margin-top: -10px;
  .i-wrapper__container {
    height: 100%;
  }
}
.i-home__details-action {
  position: relative;
  display: block;
  width: 130px;
  height: 0;
  margin-top: -79px;
  margin-right: -35px;
  border-radius: 0;
  border-top: 30px solid var(--el-color-success);
  border-left: 31px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 0;
  background: transparent;
  transform: rotate(-45deg);
  z-index: 6;
  float: right;
  &:hover {
    border-top: 30px solid var(--el-color-success);
    border-left: 31px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 0;
    background: transparent;
  }
  &:before {
    box-shadow: var(--el-box-shadow-dark);
  }
  span {
    transform: translate(-10px, -28px);
  }
}
.el-carousel__container {
  height: 460px;
  z-index: 3;
  .i-wrapper__container__body {
    position: relative;
    height: 100%;
    .i-html__container {
      width: 575px;
      margin-top: -32px;
      display: block;
      font-size: 0.53333rem;
      font-weight: bolder;
      color: var(--el-color-primary);
    }
  }
  .el-carousel__item {
    .i-image__container {
      position: relative;
      width: 100%;
    }
  }
}
.el-card {
  .el-card__header {
    text-align: center;
  }
  &:hover {
    cursor: pointer;
    .el-card__header {
      .i-image__container {
        width: 90px;
        height: 90px;
        margin: auto;
        border-radius: 100%;
        background: rgba(64,158,255,0.5);
        animation: fillbgcolor 0.5s ease-in;
      }
    }
  }
}
.i-home__card__title {
  width: 100%;
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 18px;
}
.i-home__card__content {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin: 10px 0 20px 0;
  padding: 0 25px;
  color: var(--el-text-color-secondary);
  line-height: 20px;
  text-align: center;
}
.i-home__thanks,
.i-home__sponsor {
  width: 100%;
  padding: 40px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  .i-home__me {
    width: 200px;
    height: 200px;
    margin: auto;
  }
  .i-action__avatar {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 50px;
    height: 50px;
  }
}
.i-home__question__pop {
  width: 400px !important;
  min-height: 399px;
  .el-popover__title {
    font-weight: 900;
  }
}
.i-home__thanks__images {
  padding: 0 130px 40px 130px;
  text-align: center;
  .i-image__container {
    width: auto;
    height: 50px;
    display: inline-block;
  }
  .el-image {
    width: auto;
    height: 1.5rem;
    margin: 20px;
    .el-image__inner {
      width: unset;
    }
  }
}
.i-home__qrcode {
  flex-direction: column-reverse;
  display: inline-flex !important;
  .i-avatar__title {
    text-align: center;
  }
}
.i-home__footer {
  width: 100%;
  height: 220px;
  margin-top: 40px;
  padding: 30px 120px;
  display: flex;
  justify-content: space-around;
  color: var(--el-color-white);
  overflow: hidden;
  text-align: center;
  animation: gradientFade 4s ease forwards;
  .i-html__container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }
  .i-action {
    width: 100%;
    height: 32px;
    display: block;
    text-align: center;
    .el-button {
      color: #fff;
    }
  }
  .i-action + .i-action {
    margin-left: 0;
  }
}
.i-home__copyright {
  border-top: 1px solid var(--el-color-white);
  line-height: 60px;
  color: var(--el-color-white);
  animation: gradientFade 4s ease forwards;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.i-home__ball {
  z-index: 2;
  &:nth-of-type(4n + 1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 0;
    min-width: 100px;
    min-height: 100px;
    padding-bottom: 10%;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(circle, var(--el-color-primary-light-3), white);
  }
  &:nth-of-type(4n + 2) {
    top: -100px;
    right: 45%;
    width: 20%;
    padding-bottom: 20%;
    height: 0;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(circle, var(--el-color-primary-light-3), white);
  }
  &:nth-of-type(4n + 3) {
    top: 100px;
    right: 200px;
    width: 5%;
    padding-bottom: 5%;
    height: 0;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    border-radius: 100%;
    animation: i-home-ball-updown 4s 0s infinite alternate;
    background: radial-gradient(circle, var(--el-color-primary-light-3), white);
    z-index: 100;
  }
}
.i-home__logs {
  padding: 20px 40px;
}
.i-home-logs__wrapper {
  .i-each__container__item {
    line-height: 24px;
    font-size: 15px;
    color: var(--el-text-color-regular);
  }
}
.i-home__me {
  position: relative;
  width: 1050px;
  margin: auto;
  padding-top: 20px;
  background: white;
  .i-home__me__aside,
  .i-home__me__main {
    padding: 20px;
    border-right: 4px solid white;
    background-color: whitesmoke;
  }
  .i-home__me__aside {
    --el-aside-width: 320px !important;
  }
  .i-chart__container {
    margin-left: -20px;
  }
  .el-divider__text {
    font-size: 16px;
    font-weight: 500;
    color: #607d8b;
    line-height: 1.5;
  }
  .i-home__me__main__subTitle {
    padding: 0 10px;
    font-weight: 500;
    color: #607d8b;
    line-height: 1.5;
  }
  .i-home__me__main__desc {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 400;
    color: var(--el-text-color-regular);
  }
}
.i-website__router__loader {
  height: 0;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #c6e2ff, #1677ff);
    transform-origin: 0 50%;
    animation: grow 1s ease-out;
  }
  .el-loading-spinner {
    top: 30px;
    cursor: not-allowed;
    .circular {
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      height: 25px !important;
      width: 25px !important;
      display: inline;
      background-image: url('../../public/circle.svg');
      background-position: center;
      background-size: cover;
      animation: loading-rotate 2s linear infinite;
      transform: unset;
    }
    .path {
      display: block;
      animation: loading-dash 1.5s ease-in-out infinite;
      stroke-dasharray: 90,150;
      stroke-dashoffset: 0;
      stroke-width: 4;
      stroke: var(--el-color-primary);
      stroke-linecap: round;
    }
  }
}
.i-icon__container {
  &.LocationInformation {
    color: var(--el-color-error);
    animation: i-new 1.2s ease-in-out infinite;
  }
}
.i-breathe-border {
  animation: breathe 1500ms 0s ease-in-out infinite alternate;
}
.i-breathe-border2 {
  animation: breathe2 1500ms 0s ease-in-out infinite alternate;
}
.i-breathe-border3 {
  animation: breathe3 1500ms 0s ease-in-out infinite alternate;
}
.i-home__particle {
  position: absolute;
  width: 100% !important;
  height: 509px !important;
  background: linear-gradient(180deg, var(--el-color-white), var(--el-color-primary-light-7));
}
@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes fillbgcolor {
  from {
    background: white;
  }
  to {
    background: rgba(64,158,255,0.5);
  }
}
@keyframes i-home-ball-updown {
  0% {
    transform: translate3d(0, -5%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 3%, 0) scale(0.8);
  }
}
@keyframes i-new {
  0% {
    opacity: .6;
    transform: scale(.8)
  }

  to {
    opacity: 0;
    transform: scale(1.4)
  }
}
@keyframes breathe {
  0% {
    opacity: .4;
    box-shadow: 0 1px 2px rgba(0, 147, 223, 0.4), 0 1px 1px rgba(0, 147, 223, 0.1) inset;
  }
  100% {
    opacity: 1;
    border: 1px solid rgba(59, 235, 235, 0.7);
    box-shadow: 0 1px 30px #0093df, 0 1px 20px #0093df inset;
  }
}
@keyframes breathe2 {
  0% {
    opacity: .4;
    box-shadow: 0 1px 2px var(--el-color-error-light-9), 0 1px 1px var(--el-color-error-light-9) inset;
  }
  100% {
    opacity: 1;
    border: 1px solid var(--el-color-danger);
    box-shadow: 0 1px 30px var(--el-color-danger-light-5), 0 1px 20px var(--el-color-danger-light-5) inset;
  }
}
@keyframes breathe3 {
  0% {
    opacity: .4;
    box-shadow: 0 1px 2px var(--el-color-success-light-9), 0 1px 1px var(--el-color-success-light-9) inset;
  }
  100% {
    opacity: 1;
    border: 1px solid var(--el-color-success);
    box-shadow: 0 1px 30px var(--el-color-success-light-5), 0 1px 20px var(--el-color-success-light-5) inset;
  }
}
@keyframes gradientFade {
  0% {background-color: var(--el-color-white);}
  100% {background-color: var(--el-color-black);}
}